[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
p2kp2 = {editable = true,path = "."}
pytest = "*"
pytest-sugar = "*"
pytest-spec = "*"
invoke = "*"

[packages]
pykeepass = "*"
passpy = "*"
rx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
